<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <style>
    * {
      font-family: "Comic Sans MS";
    }
  </style>
</head>
<body>

  <div class="container">{{ content | safe }}</div>

</body>
</html>
