---
title: About me
permalink: about-me/
---

<h2>About Me</h2>
<p>Hello, my name is <em>{{ about.author }}</em>, and you can find me on GitHub at <a href="https://github.com/{{ about.github }}">github.com/{{ about.github }}</a>, or on Twitter at <a href="https://twitter.com/{{ about.twitter }}">@{{ about.twitter }}</a>.</p>
